<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My Way</title>
    <link rel="stylesheet" media="screen" href="/vendor/css/bootstrap/bootstrap.css" />
    <link rel="stylesheet" media="screen" href="/assets/css/myway.css" />

    <script type="text/javascript" src="/vendor/js/angular/angular.js"></script>
    <script type="text/javascript" src="/vendor/js/angular-ui-bootstrap/ui-bootstrap-tpls-0.9.0.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>

  </head>
  <body ng-app="MyWayApp">
    <%= yield %>
  </body>
</html>


