<!DOCTYPE html>
<html>
  <head>
    <title>My Way</title>
    <link rel="stylesheet" media="screen" href="/css/myway.css" />
    <script type="text/javascript" src="/js/myway.js"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
