.nav, .pagination, .carousel a {
    cursor: pointer;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  /* margin-bottom: 20px; */
}

[class*="col-"] {
  padding-top: 15px;
  padding-bottom: 15px;
  /* background-color: #eee; */
  /* border: 1px solid #ddd; */
  /* background-color: rgba(128,128,128,.1); */
  /* border: 1px solid rgba(86,61,124,.2); */
}

.browse {
  list-style: none;
  /* margin-bottom: 0; */
  line-height: 2em;
}

/* .browse-line { */
/*     border-bottom:1px solid rgba(86,61,124,.2); */
/* } */

.filename {
  border-bottom:1px solid rgba(86,61,124,.2);
}

.kind {
  border-bottom:1px solid rgba(86,61,124,.2);
}

.modified {
  border-bottom:1px solid rgba(86,61,124,.2);
}

.dir-list {
    font-size: 2em;
}

.dir-list .dir-link {
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 560px;
    height: 150px;
    text-align: center;
    padding-top: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.drop-box.dragover {
    border: 5px dashed blue;
}